.projContainer {
    width: 90%;
    height: 100vh;
    border-radius: 2%;
    display: flex;
    align-items: flex-start;
    justify-content: first baseline;
    
    flex-direction: column;
}
.headerCont {
    display: flex;
      width: 100%;
      flex-direction: column;
    padding-bottom: 5%;

}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-sta;
}

.linkCont {
    display: flex;
    flex-direction: column;
    font-size: medium;
    padding-left: 4%;
}

.linkCont a {
    font-size: small;
    font-family: 'orbit';
}

.smallLinkCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon {
    margin-right: 10px;
    margin-left: 4px;
}

.smallLinkCont :hover {
    color: blue;
    text-decoration: underline;
}

.backButton {
    cursor: pointer;
}

.imageCont {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    white-space: wrap;
    padding: 2% 0%;
}
.imagesCont {
    display: flex;
    white-space: wrap;
    align-self: center;
    
}

.imageCont p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 80%;
    text-align: center;
    white-space: wrap;
}

.textBlockCont {
    display: flex;
    flex-direction: column;
}

.textBlock {
    padding: 2%;
}
