.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  padding: 2% 5%;
}

.page p {
    font-family: 'orbit';
}


.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15%;
  justify-content: flex-start;
  width: 100%;
  text-align: left;
  padding-bottom: 3%;
}
.main {
  display: flex;
  
  width: 100%;
  max-width: 800px;
  height: 40%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.favoritesCont {
    display: flex;
    width: 100%;
    height: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    
}

.favProjRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 3% 0%;
    text-align: center;
}


.favProjRow p { padding-left: 2%; text-align: right;}
.favProjRow h1 { padding-right: 2%; text-align: left; white-space: nowrap; }

.page hr {
    width: 100%;
}
