:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: 'terminal';
  src: url('/terminal.woff') format('woff')
} 
@font-face {
  font-family: 'orbit';
  src: url('/orbit.ttf') format('truetype')  
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: #000000;
  font-family: terminal, orbit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
