

.page {
  --background: #ffffff;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}

.main {
  display: flex;
  
  width: 100%;
  max-width: 800px;
  height: 40%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.threecontainer {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}

.button {
font-family: 'orbit'
}

.button:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
